*{margin: 0;padding: 0;outline: none;}
body{padding: 20px;font-size: 18px;background:url('../images/bg/mooning.png') repeat scroll 0 0 #f1efef;}
div{border-radius: 12px;width: auto;}
#skin{position: absolute;top:5px;right:20px;font-size: 14px;cursor: pointer;color: green;}
#tag{
	margin-top:-15px;
	font-size: 14px;
	font-family: "楷体";
	color:#000;
	text-shadow:1px 1px 1px #fff;
}
#header{
	margin-top: 10px;
	border: 1px solid #ccc;
	position: relative;
}
#header h1{
	width: 120px;
	margin: 0 auto;
	/*-webkit-box-reflect:below 2px ;*/
	/*text-shadow:2px  2px 2px #000;*/
}
#header h1:hover{
		/*color: white;*/
	/*text-shadow:-1px -1px 1px #000,1px 1px 1px #000;*/
}
#header ul{
	position:relative;
	width: 695px;
    margin: 5px auto;
    /*overflow: hidden;*/
    /*color:olive;*/
}
#header ul li{list-style-type: none;float: left;padding: 0 10px;height: 20px;line-height: 20px;}
#header ul li+li{border-left: 1px solid #ccc;}
#header ul li:hover{
	/*background-color: #aaa;*/
	cursor: pointer;
	/*color:#d8bfd8;*/
	/*font-weight: bold;*/
	/*font-size: 20px;*/
}
#header a{
	font-size: 16px;
	color: olive;
	font-family: '楷体';
}
#header .hide{	
	display:none;
	border-radius: 0;
    position: absolute;
    right: 0px;
    top: 2px;
    width: 48px;
    height: 20px;
    cursor:pointer;
    pointer-events: none;
    background: url("../images/bg/mooning.png") 100px 100px;
    z-index: 9999;
}
embed#ZeroClipboardMovie_1 {
    position: relative;
    top: 0px;
}
#header::after{
	content: '.';
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
}
#content{margin:10px 0;border: 1px solid #ccc;}
#content>*{margin: 10px 0;}
#content h2{margin-bottom:10px; }
#content table{width: 98%;margin:0 auto;border-collapse: collapse;}
#content table tr td{
	padding: 0 5px;
	/*vertical-align: middle;*/
	height: 40px;
	}
#content .info table tr:nth-child(1) td:nth-child(3){
	text-align: center;
	vertical-align: middle;
	padding: 0 2px;
} 
#content td img{
	vertical-align: middle;
	transition: -webkit-transform .5s;
	-moz-transition: -webkit-transform .5s; /* Firefox 4 */
	-webkit-transition: -webkit-transform .5s; /* Safari 和 Chrome */
	-o-transition: -webkit-transform .5s; 
}
#content td img:hover{
	transform:scale(1.1,1.1);
	-ms-transform:scale(1.1,1.1); 	/* IE 9 */
	-moz-transform:scale(1.1,1.1); 	/* Firefox */
	-webkit-transform:scale(1.1,1.1); /* Safari 和 Chrome */
	-o-transform:scale(1.1,1.1); 	/* Opera */
}
#content .bkg tr:hover{
	/*background-color: #aaa;*/
}
#content .skill .skis{
	width: auto;
	padding: 0 20px;
	counter-reset: num;
}
#content .skill .skis p:before{
	/*content: ".";*/
	counter-increment: num;
    content: counter(num) ".";
}
#content .skill .skis p{
	height: 26px;
	/*font-size: 19px;*/
	/*font-weight: bold;*/
	font-family: "Microsoft Yahei",'微软雅黑';
}
#content .project .pros{
	margin: 10px 0;
	padding: 10px 20px;
}
#content .project .pros:hover{
	/*background-color: #aaa;*/
	border-radius: 0px;
}
#content .project p{
	height: 25px;
}
#content .rwd .rwds{
	padding: 10px 20px;
}
#content .rwd .rwds:hover{
	/*background-color: #aaa;*/
	border-radius: 0px;
	/*padding: 10px 20px;*/
}
#content .rwd h2~*{
	padding: 0px 20px;
}

#content .ps{
  padding: 10px 20px;
  padding-bottom: 0px;
}
.pss p{
	height:25px;
	line-height:25px;
	white-space:nowrap;
	font-family: cursive
}
.pss a{
	white-space:pre-line;
	word-wrap:break-word;
	color:#333;
}
#footer{
	font-size: 14px;
	font-family: '楷体';
	text-align: center;
}
.panel{
	/*background: url("../images/bg/white_wall_hash.png") repeat scroll 0 0 #f1efef;*/
    box-shadow: 1px 2px 2px 1.5px rgba(0, 0, 0, 0.35), 0 20px 70px 8px rgba(0, 0, 0, 0.25);
    /*color: #333333;*/
}

@media all and (max-device-width:800px){
	#ZeroClipboardMovie_1{
		display: none;
	}
	#header .hide{
        display: block;
	}
}
@media screen and (min-device-width:800px){
	#ZeroClipboardMovie_1{
		display: block;
	}
	#header .hide{
        display: none;
	}
}
